body {
font-family: "Dancing Script";
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
  background-color: #02010a;
}
header{
  background-color:  #5b7989;
  color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;

}
li{
  float: right;
  padding: 14px 16px;
  color: white;
}
li:hover{
  color: blue;
}
ul {
    list-style-type: none;
    overflow: hidden;
  }

#titulo{
  float: left;
  text-shadow: 2px 2px #02010a;
}
/* ---------------------------IMAGENES-------------------------- */
.cabecera{
  background-color: #82c3a6;
}
@media screen and (min-width:900px){
  .contenido{
  display: flex;
  background-color: #d5c75f;
  border: 1px solid;
  display: -ms-flex;
	display: -webkit-flex;
	display: flex;
  
  }
  .contenido img{
  box-shadow: 5px 10px 8px 2px #02010a;
   width: 100%;
  }
.img_izquierda{
order: 1;
flex-grow: 2;
  width: 50%;
}
.img_izquierda img:hover{
  transform: rotate(30deg);
  transition: 1s;
  box-shadow: 5px 10px 8px 2px #82c3a6;
  border: 2px solid black ;

}
.img_derecha{
  order: 2;
  flex-grow: 2;
}
.img_derecha img:hover{
  transform: translate(20px, -5px);
  transition: 1s;
  box-shadow: 5px 10px 8px 2px #82c3a6;
  border: 2px solid black ;
}
}
@media screen and (max-width:900px){
  .contenido{

  background-color: #d5c75f;
  border: 1px solid;
  }
  .contenido img{
  box-shadow: 5px 10px 8px 2px #02010a;
width: 100%; 
}
.img_izquierda{
order: 1;
flex-grow: 1;
  
}
.img_izquierda img:hover{
  transform: rotate(30deg);
  transition: 1s;
  box-shadow: 5px 10px 8px 2px #82c3a6;
  border: 2px solid black ;

}
.img_derecha{
  order: 2;
  flex-grow: 1;
}
.img_derecha img:hover{
  transform: translate(20px, -5px);
  transition: 1s;
  box-shadow: 5px 10px 8px 2px #82c3a6;
  border: 2px solid black ;
}
}






/* ------------------------------------------------------ */
footer{
  background-color:  #C6d5c5;
  color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  display: flex;
  flex-flow: row wrap;
  color: black;
}
p{
  text-align: justify;
  font-size: 14px;
  padding-left: 20px;
  padding-right: 20px;
}
.c1, .c2, .c3, .c4{
  width: 25%;
}

@media screen and (max-width:480px) {
  .c1{
    order: 1;
    width: 100%;
  }
  .c2{
    order: 2;
    width: 100%;
}
.c3{
  order: 3;
  width: 100%;
}
.c4{
  order: 4;
  width: 100%;
}

}
